.product-item {
  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border: 1px solid black;

    button {
      border: 0px;
      background: none;
      cursor: pointer;
    }
  }
}
